---
---

$section-headings-color: #6363B0 !default;

@import "{{ site.theme }}";

.main-content {
  max-width: 80rem; 
}

.page-header {
  background-image: url(https://www.smogon.com/media/zracknel-beta.svg.m.1);
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: 10vh;
  background-color: $section-headings-color;
  text-shadow: #222 0px 0px 5px;
}

.page-header a {
  color: #fff; 
}

.project-tagline {
  color: #fff;
  opacity: 1;
}
